@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: roboto-reg;
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    width: 700px;
    height: 500px;
    margin:0px;

    display:grid;
    grid-template-rows: auto 1fr auto;

    font-family: roboto;
    background-color: #aab1b3;

    border:1px solid #FFFFFFFF;
}

#Game {
    grid-row-start: 2;
    grid-row-end: 2;

    background-color: #5d9fb1;
    
    position: relative;
}

#Header {
    grid-row-start: 1;
    grid-row-end: 1;

    border-bottom: 1px solid #000000;


    text-align: center;
    padding: 2px;
    font-family: roboto-reg; 
}

#Taskbar {
    grid-row-start: 3;
    grid-row-end: 3;

    padding: 3px;
    border-top: 1px solid #000000;
}

#Shop{
    grid-row-start: 2;
    grid-row-end: 2;

    background-color: #5d9fb1;
}

.item {
    border: 2px solid #000000;
    margin: 20px;
    padding: 10px;
}

.itemIcon {
    float: left;
    margin-left:5px;
}
.buyButton {
    float:right;
    height: 50px;
    margin-left: 5px;
}

.taskbarButtons {
    height: 24px;
    width: 24px;
    display: inline;
}