@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto-reg;
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    width: 700px;
    height: 500px;
    margin:0px;

    display:grid;
    grid-template-rows: auto 1fr auto;

    font-family: roboto;
    background-color: #aab1b3;

    border:1px solid #FFFFFFFF;
}

game {
    grid-row-start: 2;
    grid-row-end: 2;

    background-color: #5d9fb1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

points {
    grid-row-start: 1;
    grid-row-end: 1;


    text-align: center;
}

buttons {
    grid-row-start: 3;
    grid-row-end: 3;

}

h2 {
    margin: 2px;
    font-family: roboto-reg; 
}