@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: roboto-reg;
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    width: 700px;
    height: 500px;
    margin:0px;

    display:grid;
    grid-template-rows: auto 1fr auto;

    font-family: roboto;
    background-color: #aab1b3;

    border:1px solid #FFFFFFFF;
}

#Game {
    grid-row-start: 2;
    grid-row-end: 2;

    background-color: #5d9fb1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#Header {
    grid-row-start: 1;
    grid-row-end: 1;


    text-align: center;
    margin: 2px;
    font-family: roboto-reg; 
}

#Taskbar {
    grid-row-start: 3;
    grid-row-end: 3;

    padding: 3px;
}

h2 {
    
}

#Shop{
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: red;
}

.items{
    border: 2px solid black;
    margin: 20px;
    height: 50px;
    padding: 10px;
}
beschreibung {
    text-align:right;
}

.itemicon{
    float: left;
    margin-left:5px;
}
.buyButton{
    float:right;
    height: 100%;
    margin-left: 5px;
}



